$root-color: #e7130c;
$parent-color: #ccaf0d;
$child-color: #73c653;

@mixin define-box($name, $title, $color) {
  .#{$name} {
    position: relative;
    border: 1px $color solid;
    padding: 24px 8px 8px 8px;
    margin: 8px;
    &::before {
      content: $title;
      position: absolute;
      top: 0;
      left: 0;
      background-color: $color;
      padding: 2px 4px;
    }
  }
}

@include define-box("root", "Root", $root-color);
@include define-box("parent", "Parent", $parent-color);
@include define-box("child", "Child", $child-color);
